<%-include('../partials/top_html.ejs') %> 
<div class="login-section">
    <form id="signin" name="signin" method="post" action="signin">
        <h3>Login</h3>
        <div class="uk-margin">     
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" name="email" type="text" placeholder="Email">
            </div>
        </div>
        <div class="uk-margin">     
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" name="password" type="password" placeholder="Password">
            </div>
        </div>
        <input class="uk-button uk-button-primary" type="submit" value="Sign Up" />
    </form>
</div>
<%-include('../partials/bottom_html.ejs') %> 